.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    color: tomato;
    font-size: 14px;
    border-bottom: 1px solid tomato;
    margin: 3px 0;
}

.desc {
    font-size: 14px;
}

.star {
    color: gold;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}

.popup {
    background: #fff;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    transform: translate(60px, -50%);
}

.popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.pin-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

.pin-form input,
.pin-form textarea  {
    border: 0;
    border-bottom: 1px solid grey;
    padding: 5px 0;
}

.pin-form input::placeholder,
.pin-form textarea::placeholder {
    font-size: 12px;
    color: grey;
}

.submitButton {
    border: 0;
    padding: 3px;
    background-color: tomato;
    color: #fff;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.button {
    border: 0;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.logout {
    background-color: tomato;
}

.login {
    background-color: teal;
}

.register {
    background-color: slateblue;
}

.buttons, .logout {
    position: absolute;
    top: 10px;
    right: 10px;
}